@import "@USupport-components-library/styles";

.page__article-information {
  @include full-height-page-navbar;

  &__block {
    overflow: visible;
  }

  &__layout {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-lg) {
      flex-direction: row;
      align-items: flex-start;
      gap: $spacing_4_0;
    }
  }

  &__main {
    flex: 1;
    min-width: 0;

    .article-view {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing_2_4;
    padding-top: $spacing_2_0;
    padding-bottom: $spacing_5_6;
    padding-left: $spacing_2_0;
    padding-right: $spacing_2_0;
    text-align: left;

    // Hide scrollbar but keep scrolling
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE, Edge legacy

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    @media screen and (min-width: $screen-lg) {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 32rem;
      min-width: 32rem;
      padding: $spacing_1_6;
      position: sticky;
      top: $spacing_3_2;
      max-height: calc(100vh - #{$spacing_3_2});
      overflow-y: auto;
    }

    &__heading {
      width: 100%;
      margin-bottom: $spacing_0_8;
    }

    .card-media {
      overflow: visible;

      @media screen and (max-width: $screen-lg) {
        flex: 1 1 calc(33.333% - #{$spacing_2_4});
        min-width: 25rem;
      }
    }
  }

  &__no-results {
    padding: $spacing_10_0;
  }
}
