@import "@USupport-components-library/styles";

.edit-consultation {
  align-items: center;
  padding-bottom: 0;

  &__provider-consultation {
    .consultation-information__content__details__name {
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: $spacing_2_4;
  }

  &__buttons {
    width: 100%;
    margin-top: $spacing_1_6;
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: $spacing_1_6;
  }

  &__button:last-of-type {
    margin-bottom: $spacing_3_2;
  }
}
