/* RegisterPreview styles */
@import "@USupport-components-library/styles";

.page__register-preview {
  min-height: 100vh;

  @media screen and (max-width: $screen_md) {
    background-image: url(../assets/background-spiral-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 35rem;
  }
}
