@import "@USupport-components-library/styles";

.activity-history {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;

  &__header {
    flex: 0 0 auto;
    padding: $spacing_1_6 $spacing_2_0;

    @media screen and (min-width: $screen-md) {
      padding: $spacing_2_0 $spacing_3_6;
    }

    &__provider-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;

      &__icon {
        position: absolute;
        left: 0;
        cursor: pointer;
      }

      & .avatar {
        width: 4.2rem;
        height: 4.2rem;
        margin-right: $spacing_1_6;
      }
    }

    &__controls {
      margin: 0 auto;
      padding-top: $spacing_1_2;
      max-width: 34rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media screen and (min-width: $screen-md) {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
      }

      &__toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: $spacing_1_2;

        @media screen and (min-width: $screen-md) {
          margin-right: $spacing_1_2;
        }

        & p {
          margin-left: $spacing_1_2;
        }
      }

      &__search {
        margin-top: $spacing_1_2;
        width: 100%;
        max-width: 30rem;

        @media screen and (min-width: $screen-md) {
          margin-right: $spacing_2_0;
          max-width: 34rem;
        }
      }

      &__export-button {
        margin-top: $spacing_1_2;
      }
    }
  }

  &__messages {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 $spacing_2_0;

    @media screen and (min-width: $screen-md) {
      padding: 0 $spacing_3_6;
    }

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      margin: $spacing_2_4;
      background: rgba(217, 217, 217, 0.63);
      border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color_primary_20809e;
      border-radius: 0.3rem;
    }

    @media screen and (min-width: $screen-md) {
      max-width: 75rem;
      align-self: center;
      width: 100%;
    }

    &__no-messages {
      margin-top: $spacing_2_4;
    }

    .system-message {
      align-self: center;
    }

    .message-sent {
      align-self: flex-end;
    }

    & .message,
    & .system-message {
      margin-top: $spacing_1_6;
    }

    @media screen and (min-width: $screen-md) {
      & .message,
      & .system-message {
        margin-top: $spacing_2_4;
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
    padding: $spacing_1_6 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
