@import "@USupport-components-library/styles";

.activity-history {
  @include full-height-page-navbar;

  &__header-block {
    @include themify($themes, "background-color", "color_white_ff");
    left: 0;
    padding: $spacing_2_0;
    padding-bottom: 0;
    position: fixed;
    right: 0;
    z-index: $z_index_2;

    @media screen and (min-width: $screen-md) {
      top: $spacing_6_6;
    }

    @media screen and (min-width: 1100px) {
      padding-top: $spacing_3_6;
    }

    &__provider-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;

      &__icon {
        position: absolute;
        left: 0;
        cursor: pointer;
      }

      & .avatar {
        width: 4.2rem;
        height: 4.2rem;
        margin-right: $spacing_1_6;
      }
    }
  }

  &__main {
    padding-top: 24.5rem;

    @media screen and (min-width: $screen_md) {
      padding-top: $spacing_20_0;
    }

    &__controls {
      margin: 0 auto;
      padding: $spacing_1_8;
      padding-top: 0;
      max-width: 34rem;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media screen and (min-width: $screen_md) {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: $spacing_1_8;
        max-width: 100%;
      }

      &__toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: $spacing_1_8;

        @media screen and (min-width: $screen_md) {
          margin-right: $spacing_1_2;
        }

        & p {
          margin-left: $spacing_1_2;
        }
      }
      &__export-button {
        margin-top: $spacing_1_8;
      }
    }

    &__search {
      margin: 0 auto;
      margin-top: $spacing_1_8;
      width: 30rem;

      @media screen and (min-width: $screen_md) {
        margin: unset;
        margin-right: $spacing_2_0;
        width: 34rem;
      }
    }
  }

  &__main {
    &__button-container {
      padding: $spacing_2_0 0;
      padding-bottom: calc(10vh);
      position: sticky;
      bottom: 0;
      // background: $gradient_transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      z-index: $z_index_emergency_button;
    }
  }

  &__main__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 52vh;
    overflow: auto;

    @media screen and (min-width: $screen_md) {
      height: 61vh;
    }
  }

  &__main__messages-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      margin: $spacing_2_4;
      background: rgba(217, 217, 217, 0.63);
      border-radius: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color_primary_20809e;
      border-radius: 0.3rem;
    }

    @media screen and (min-width: $screen_md) {
      max-width: 75rem;
    }

    &__no-messages {
      margin-top: $spacing_2_4;
    }

    .system-message {
      align-self: center;
    }

    .message-sent {
      align-self: flex-end;
    }

    & .message,
    & .system-message {
      margin-top: $spacing_1_6;
    }

    @media screen and (min-width: $screen_md) {
      & .message,
      & .system-message {
        margin-top: $spacing_2_4;
      }
    }
  }
}
