@import "@USupport-components-library/styles";

.forgot-password {
  height: 100%;

  & .container {
    height: 100%;
  }

  &__grid {
    min-height: 85vh;
    justify-items: center;

    &__content-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;

      &__main-container {
        margin-top: $spacing_4_0;

        & > button {
          margin-top: $spacing_3_2;
        }
      }
      @media screen and (min-width: $screen_md) {
        & > button {
          margin-bottom: $spacing_3_2;
        }
      }
    }
  }
}
