@import "@USupport-components-library/styles";

.contact-us {
  padding-bottom: $spacing_3_2;
  &__content-wrapper {
    position: relative;

    &__right {
      display: none;
      @media screen and (min-width: $screen-lg) {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      & img {
        max-width: 50%;
      }
    }
  }

  &__grid {
    text-align: left;
    padding-top: $spacing_3_2;
    gap: $spacing_1_8;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_5_0;
    }
    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_4_0;
      max-width: 58.4rem;
    }

    &__button-item {
      display: flex;
      width: 100%;

      & > .button {
        width: 100%;
      }
    }
  }
}
