@import "@USupport-components-library/styles";

.contact-us {
  background-image: url(./assets/background.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 32.5rem 18rem;
  padding-bottom: $spacing_23_0;

  @media screen and (min-width: $screen_md) {
    padding-bottom: $spacing_10_0;
    background-image: none;
  }

  &__grid {
    text-align: left;
    padding-top: $spacing_3_2;
    gap: $spacing_1_8;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_5_0;
    }
    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_4_0;
      max-width: 58.4rem;
    }

    &__button-item {
      display: flex;
      width: 100%;

      & > .button {
        width: 100%;
      }
    }
  }
}
