@import "@USupport-components-library/styles";

.cancel-consultation {
  align-items: center;
  justify-content: center;

  &__content-container {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__provider-consultation {
    margin-top: $spacing_4_0;
  }
}
