@import "@USupport-components-library/styles";

.cancel-consultation {
  align-items: center;

  &__provider-consultation {
    margin-top: $spacing_4_0;
  }

  &__button-container {
    margin-top: $spacing_3_2;
    padding-bottom: $spacing_3_6;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > button:not(:first-of-type) {
      margin-top: $spacing_2_0;
    }
  }
}
