@import "@USupport-components-library/styles";

.mood-track-history {
  padding-bottom: $spacing_3_2;
  
  &__content-container {
    display: flex;
    flex-direction: row;
    margin-top: $spacing_1_6;

    &__emoticons-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-right: $spacing_0_8;

      &__icon {
        display: flex;
        align-self: flex-end;
        height: 3.8rem;
        align-items: center;
        cursor: pointer;

        &--right {
          height: 100%;
          display: flex;
          align-items: flex-end;
        }

        &__right {
          margin-left: $spacing_0_8;
          margin-bottom: $spacing_1_2;
          @media screen and (min-width: screen_md) {
            margin-left: $spacing_2_4;
          }

          &__disabled {
            opacity: 0.5;
          }
        }
      }
    }

    &__chart-container {
      width: 100%;
      display: flex;
      flex-direction: row;

      &__wrapper {
        flex: 1;
      }
    }

    &__chart-wrapper {
      margin-top: $spacing_1_6;
      height: 28rem;
      cursor: pointer;

      @media screen and (min-width: $screen-lg) {
        height: 50rem;
      }

      &__dates {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__emoticon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 4rem;
    justify-content: center;

    @media screen and (min-width: $screen-lg) {
      height: 10rem;
    }
  }

  &__icon-container {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__disabled {
      opacity: 0.5;
    }
  }

  &__recommendations-heading {
    padding-top: $spacing_4_0;
  }

  &__recommendations-no-results {
    padding-top: $spacing_4_0;
  }

  &__recommendations-container {
    padding-top: $spacing_1_6;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_2_0;
    }

    &__articles,
    &__videos,
    &__podcasts {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $spacing_1_8;
      padding-top: $spacing_2_4;

      & .card-media {
        margin: unset;
        @media screen and (min-width: $screen-md) {
          max-width: 45%;
        }
      }
    }

    &__articles-heading,
    &__videos-heading,
    &__podcasts-heading {
      text-align: left;
      padding-top: $spacing_2_4;
    }
  }
}
