@import "@USupport-components-library/styles";

.register-anonymous-modal {
  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: $spacing_2_4;
    gap: $spacing_2_4;
  }
}
