@import "@USupport-components-library/styles";

.register-anonymous-modal {
  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing_2_4;

    &__access-token-container {
      background-color: #edf0f9;
      padding: $spacing_1_6;
      border-radius: $border_radius_2_4;
    }
  }
}
