@import "@USupport-components-library/styles";

.find-support-near-you {
  padding-top: $spacing_2_4;

  &__map-container {
    background-image: url("../../assets/map.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $border_radius_1_6;
    width: 100%;
    height: 30rem;
    margin-top: $spacing_1_2;
    overflow: hidden;

    &__overlay {
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(102, 118, 141, 0.5);
      backdrop-filter: blur(3px);

      &__button {
        padding: 1px;
        background-color: $color_white_ff;
        border-radius: $border_radius_0_8;
        margin-top: $spacing_4_2;

        @media screen and (min-width: $screen-md) {
          margin-top: $spacing_6_6;
        }
      }
    }
  }
}
