@import "@USupport-components-library/styles";

.register-email-modal {
  &__content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing_4_0;
    gap: $spacing_1_6;
  }
}
