@import "@USupport-components-library/styles";

.videos {
  &__main-grid {
    justify-items: center;
  }

  &__search-item {
    padding-top: 24px;
  }

  &__categories-item {
    padding-top: 30px;
    width: 100%;
    justify-self: stretch;
  }

  &__videos-item {
    padding-top: 12px;
    padding-bottom: 60px;

    @media screen and (min-width: 1366px) {
      padding-top: 24px;
    }
  }

  &__no-results-container {
    text-align: center;

    padding-block: 100px;
    @media screen and (min-width: 1366px) {
      padding-block: 153px;
    }
  }
}
