@import "@USupport-components-library/styles";

.platform-rating {
  & .container {
    max-width: 58.4rem;
    margin: 0 auto;

    @media screen and (min-width: $screen-lg) {
      margin-left: 0;
    }
  }

  &__content-container {
    text-align: left;
    padding-top: $spacing_3_2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing_2_4;
    padding-bottom: $spacing_6_0;

    &__textarea {
      width: 100%;
    }
  }
}
