@import "@USupport-components-library/styles";

.consultations {
  &__grid {
    padding-top: $spacing_2_4;
    padding-bottom: $spacing_6_4;

    &__tabs-item {
      justify-self: flex-start;
    }

    &__consultations-item {
      margin-top: $spacing_2_4;

      &__grid {
        place-items: center;

        &__consultation {
          &__item {
            width: calc(100% - 2 * $spacing_1_6);
          }
        }
      }
    }
  }
}
