@import "@USupport-components-library/styles";

.consultations-dashboard {
  padding-top: $spacing_4_8;
  padding-bottom: $spacing_6_4;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > h4 {
      text-align: left;
    }

    .view-all-button {
      color: $color_secondary_9749fa;
      cursor: pointer;
      padding: $spacing_1_6 0;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: $spacing_2_0;
    padding-bottom: $spacing_1_6;
  }

  &__carousel-container {
    margin-top: $spacing_2_0;
  }

  &__consultation-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
