@import "@USupport-components-library/styles";

.consultations-dashboard {
  padding-top: $spacing_4_8;
  padding-bottom: $spacing_6_4;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > h4 {
      text-align: left;
    }

    > h5 {
      font-weight: 500;
    }

    .view-all-button {
      @include themify($themes, "color", "color_6a4ffb_8c90eb");
      cursor: pointer;
      padding: $spacing_1_6 0;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: $spacing_2_0;
    padding-bottom: $spacing_1_6;
  }

  &__video-container {
    margin: $spacing_2_0 auto;
    width: 100%;
    max-width: $screen-md;
  }

  &__scroll-container {
    display: flex;
    overflow-x: auto;
    gap: $spacing_1_6;
    padding-bottom: $spacing_0_8;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      flex: 0 0 auto;
    }
  }

  &__schedule-consultation-button {
    margin: $spacing_2_0 auto 0;
  }
}
