@import "@USupport-components-library/styles";

.faq {
  @include full-height-page-navbar;

  padding-block: $spacing_5_2;

  &__no-results {
    padding: $spacing_10_0;
  }

  &__search {
    width: 100%;
    margin: 0 auto;
    margin-bottom: $spacing_3_2;
  }

  &__content-container {
    display: flex;
    flex-direction: row;

    &__left-side {
      width: 100%;
      @media screen and (min-width: $screen-lg) {
        max-width: 58.4rem;
      }
    }

    &__right-side {
      display: none;
      @media screen and (min-width: $screen-lg) {
        display: block;
        width: 100%;
      }
    }
  }
}
