@import "@USupport-components-library/styles";

.baseline-assesment-result {
  text-align: center;
  margin-bottom: $spacing_3_2;

  h1 {
    margin-bottom: $spacing_2_4;
    color: $color_green_7ec680;
  }

  p.text {
    margin-bottom: $spacing_2_4;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__stats {
    margin-top: $spacing_2_4;

    p {
      margin-top: $spacing_1_6;
      color: $color_gray_92989b;
      @include themify($themes, "color", "color_gray_92989b_c1d7e0");
    }
  }

  &__compare-grid {
    align-items: center;

    &__stats-container {
      display: flex;
      flex-direction: column;
      gap: $spacing_1_6;
      justify-content: center;

      @media screen and (min-width: $screen-lg) {
        flex-direction: row;
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing_0_4;
        padding: $spacing_1_6;
        width: 100%;
        max-width: 30rem;
        margin-inline: auto;

        @media screen and (min-width: $screen-lg) {
          margin-inline: 0;
          width: 20%;
        }
      }
    }
  }

  &__summary {
    padding-top: $spacing_3_2;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_4_8;
    }

    &__heading {
      text-align: left;
      margin-bottom: $spacing_1_6;
    }

    &__interactive-map-button {
      margin: $spacing_1_6 auto;
    }
  }

  &__content-grid {
    justify-content: center;
  }

  &__articles,
  &__podcasts,
  &__videos {
    padding-bottom: $spacing_3_6;

    h4 {
      margin-bottom: $spacing_2_0;
    }
  }
}
