@import "@USupport-components-library/styles";

.user-details {
  &__grid {
    padding-bottom: $spacing_6_0;

    &-item {
      justify-self: center;
      padding-top: $spacing_2_4;

      &__access-token {
        padding-top: $spacing_3_2;

        & > .access-token-container {
          margin-top: 0;
          margin-bottom: $spacing_1_2;
          &__label {
            padding-bottom: $spacing_1_2;
          }
        }
      }

      & > .input-container,
      & > .dropdown-with-label {
        padding-top: $spacing_2_4;
      }

      & > .input-container:first-of-type {
        padding-top: $spacing_3_2;
      }

      .dropdown-with-label {
        text-align: left;
      }
    }

    &__save-button {
      margin-top: $spacing_3_2;
    }

    &__discard-button {
      margin-top: $spacing_1_6;
    }

    &-item-privacy {
      padding-top: $spacing_4_0;
      justify-self: center;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 34.3rem;

        &-privacy {
          font-weight: $font_semi_bold;
        }

        &-consent {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          padding-top: $spacing_1_2;
          width: 100%;

          & > p {
            max-width: 60%;
            text-align: left;
          }
        }
      }
    }

    &__delete-account-button,
    &__change-password-button {
      margin-top: $spacing_2_8;
      min-width: unset;
      padding: 0;
    }
  }

  &__modal-heading {
    color: $color_primary_20809e;
    cursor: pointer;
  }
}
