@import "@USupport-components-library/styles";

.user-details {
  &__profile-picture-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.btn-xs {
      min-width: unset;
      padding: 0;
    }
  }

  &__grid {
    padding-bottom: $spacing_6_0;
    max-width: 58.4rem;
    margin: 0 auto;
    gap: $spacing_2_4;

    @media screen and (min-width: $screen_lg) {
      margin-left: 0;
      margin-right: auto;
    }

    &__dropdowns-grid {
      gap: $spacing_2_4;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: $spacing_2_4;

      &__access-token {
        & > .access-token-container {
          margin-top: 0;
          margin-bottom: $spacing_1_2;
          &__label {
            padding-bottom: $spacing_1_2;
          }
        }
      }

      .dropdown-with-label {
        text-align: left;
      }
    }

    &__save-button {
      margin-top: $spacing_3_2;
    }

    &__discard-button {
      margin-top: $spacing_1_6;
    }

    &-item-privacy {
      padding-top: $spacing_4_0;
      justify-self: center;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 34.3rem;

        &-privacy {
          font-weight: $font_semi_bold;
        }

        &-consent {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: $spacing_1_2;
          align-items: flex-start;
          padding-top: $spacing_1_2;
          width: 100%;

          & > .checkbox-wrapper {
            margin-top: $spacing_0_2;
          }

          & > p {
            text-align: left;
          }
        }
      }
    }

    &__delete-account-button,
    &__change-password-button {
      margin-top: $spacing_2_8;
      min-width: unset;
      padding: 0;
    }

    &__buttons-container {
      display: flex;
      flex-direction: row;
      gap: $spacing_1_2;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      & > .button {
        width: 100%;

        @media screen and (min-width: $screen_lg) {
          min-width: 20rem;
        }
      }
    }

    &__delete-buttons-container {
      align-items: center;
      justify-content: center;
    }
  }

  &__modal-heading {
    color: #7f2ee5;
    cursor: pointer;

    &--hc {
      color: white;
      text-decoration: underline;
    }
  }
}
