@import "@USupport-components-library/styles";

.authentication-modals-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo-container {
    padding: $spacing_1_6 0;
    width: 100%;
    background-color: #f0f1f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__client-heading {
    margin: $spacing_1_6 0;
  }
}
