@import "@USupport-components-library/styles";

.articles-dashboard {
  text-align: left;
  padding-bottom: $spacing_0_8;
  background-color: #eaf7f9;

  .theme-dark &,
  .theme-highContrast & {
    background-color: #193246;
  }
  padding-bottom: $spacing_4_2;

  &__headings-item {
    padding: $spacing_4_0 0 0 $spacing_6_0;
    .subheading {
      padding-top: $spacing_1_6;
    }
    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_5_0;
    }
  }

  &__no_results {
    padding: $spacing_10_0;
  }

  &__articles-item {
    min-width: 0;
    overflow: hidden;
    width: 100%;
    padding-bottom: $spacing_3_2;
  }

  &__categories-item {
    min-width: 0;
    overflow: hidden;
    width: 100%;
    padding-top: $spacing_1_0;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_2_0;
    }
  }

  &__block__grid {
    padding-top: $spacing_4_0;
    justify-items: center;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_5_6;
    }
  }

  &__article-item {
    margin-top: $spacing_1_6;

    &__card-media {
      &.card-media {
        background-color: #ffffff;

        .theme-light & {
          background-color: #ffffff;
        }

        .theme-dark & {
          background-color: #0e202f;
        }
      }
    }
  }

  &__heading-item {
    justify-self: start;
  }

  &__view-more-item {
    justify-self: end;
  }

  .view-all-button {
    color: $color_secondary_9749fa;
    cursor: pointer;
    padding: $spacing_1_6 0;
  }

  &__show-more-button {
    margin-top: $spacing_3_2;
    margin-inline: auto;
  }
}
