@import "@USupport-components-library/styles";

.register-preview {
  height: 100%;

  .container {
    height: 100%;
  }

  &__grid {
    align-items: center;
    align-content: center;
    padding-top: $spacing_4_0;
    padding-bottom: $spacing_4_0;
    row-gap: $spacing_4_0;
    height: 100%;

    @media screen and (min-width: $screen_md) {
      padding-top: $spacing_9_6;
    }

    &__mascot-item {
      @media screen and (max-width: $screen_md) {
        justify-self: end;
      }

      @media screen and (min-width: $screen_md) {
        order: 1;
      }

      > img {
        // width: 30rem;
        height: 23.8rem;
        @media screen and (max-width: $screen_md) {
          transform: translateX(12.5rem);
        }
      }

      &__pl-description {
        display: none;

        @media screen and (min-width: $screen_md) {
          display: block;
          margin-bottom: $spacing_5_0;
        }
      }
    }

    &__content-item {
      &__carousel-item {
        text-align: left;

        &__text {
          margin-top: $spacing_1_6;

          @media screen and (min-width: $screen_md) {
            margin-top: $spacing_2_4;
          }
        }
      }

      &__btns-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $screen_md) {
          align-items: flex-start;
        }
      }

      &__carousel-container {
        max-width: 36.8rem;
      }

      .btn {
        margin-top: $spacing_1_6;
        @media screen and (min-width: $screen_md) {
          margin-top: $spacing_2_0;

          &:first-of-type {
            margin-top: $spacing_9_6;
          }
        }
      }

      &__pl-description {
        margin: $spacing_1_6 auto;

        @media screen and (min-width: $screen_md) {
          display: none;
        }
      }
    }

    & .error-message {
      margin-right: $spacing_2_4;
      text-align: center;
    }
  }
}
