/* Dashboard styles */
@import "@USupport-components-library/styles";

.page__dashboard {
  min-height: 80vh;
  &__content {
    @include full-height-page-navbar;
  }

  @media screen and (min-width: $screen-md) {
    background: url(../assets/background-v-shape-full.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
