@import "@USupport-components-library/styles";

.articles {
  @include full-height-page-navbar;

  padding-bottom: $spacing_3_2;
  text-align: left;

  &__main-grid {
    padding-inline: $spacing_1_2;
  }

  &__age-groups-item {
    @media screen and (min-width: $screen-lg) {
      justify-self: flex-start;
    }
  }

  &__age-groups-tabs__container {
    display: flex;
  }

  &__search-item {
    padding-top: $spacing_2_4;

    @media screen and (min-width: $screen-md) {
      padding-top: $spacing_0_8;
      justify-self: flex-end;
    }
  }

  &__categories-item {
    padding-top: $spacing_3_0;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_3_2;
    }
  }

  &__no-results-container {
    text-align: center;
    padding: $spacing_10_0;
  }

  .tabs-underlined-container {
    h3 {
      @media screen and (min-width: $screen-lg) {
        font-size: $font-size_2_4;
      }
    }
  }
}
