/* InformationPortalHero styles */
@import "@USupport-components-library/styles";

.information-portal-hero {
  position: relative;
  min-width: calc(34rem - 2 * $spacing_1_6);

  &__back-button {
    position: absolute;
    top: $spacing_2_0;
    left: $spacing_2_0;
    z-index: 2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $color_primary_20809e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken($color_primary_20809e, 10%);
    }

    @media screen and (min-width: $screen-md) {
      top: $spacing_3_2;
      left: $spacing_3_2;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (min-width: $screen-md) {
    &__image {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1;

    &--rtl {
      direction: rtl;

      & .pre-input-wrapper {
        margin-left: 0;
        margin-right: $spacing_1_8;
      }
    }

    // Mobile specific adjustments
    @media (max-width: 767px) {
      width: 90%;
      bottom: 15%;
    }

    @media screen and (min-width: $screen-md) {
      max-width: 50%;
    }

    @media screen and (min-width: $screen-lg) {
      max-width: 30%;
    }
  }

  &__button {
    position: absolute;
    top: $spacing_2_0;
    right: $spacing_2_0;
    z-index: 2;

    @media screen and (min-width: $screen-md) {
      top: $spacing_3_2;
      right: $spacing_3_2;
    }
  }
}
