@import "@USupport-components-library/styles";

.my-qa {
  padding-top: $spacing_3_2;

  &__categories-item {
    overflow-x: auto;
    padding-top: $spacing_1_0;

    @media screen and (min-width: $screen-md) {
      width: auto;
      padding-top: $spacing_2_0;
    }

    &__language-dropdown {
      @media screen and (min-width: $screen-md) {
        width: 34.4rem;
      }
      text-align: left;
      margin-bottom: $spacing_1_2;
      margin-top: $spacing_1_2;
    }
  }

  &__tabs-grid {
    align-items: center;
    justify-items: stretch;

    &__search-container {
      &__tabs {
        display: flex;
      }

      &__dropdown {
        max-width: 35rem;
        @media screen and (min-width: $screen-lg) {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }

    &__filter-button-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $spacing_2_2;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
      }
      @media screen and (min-width: $screen-lg) {
        // justify-content: flex-start;
      }
    }

    &__filter-button {
      margin-block: $spacing_1_6;
      margin-inline: auto;

      @media screen and (min-width: $screen-md) {
        margin-top: 0;
        margin-left: $spacing_1_6;
      }
    }
  }

  &__button-item {
    &__button {
      margin-top: $spacing_1_2;
      margin-inline: auto;
    }
  }

  &__search-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $screen_md) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $spacing_1_6;
    }

    &__button {
      margin-top: $spacing_1_6;

      @media screen and (min-width: $screen_md) {
        margin: 0;
      }
    }
  }

  &__answers-container {
    padding-bottom: $spacing_4_6;

    &__no-questions {
      padding-block: 100px;
    }
  }

  &__answer {
    margin-top: $spacing_2_4;
  }
}
