@import "@USupport-components-library/styles";

.register-anonymous {
  height: 100%;

  & .container {
    height: 100%;
  }

  &__grid {
    min-height: 85vh;
    justify-items: center;
    text-align: left;

    &__content-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;

      &__main-component {
        margin-top: $spacing_4_0;

        &__anonymous-code-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          justify-content: center;
          margin-top: $spacing_1_3;
          margin-bottom: $spacing_3_6;
        }

        &__privacy_policy_container {
          margin-top: $spacing_2_0;
          display: flex;
          flex-direction: row;
          align-items: flex-start;

          & > .text {
            margin-left: $spacing_0_8;
            font-weight: $font_medium;

            & .privacy-policy-link {
              color: $color_secondary_9749fa;
            }
          }
        }

        & > button {
          margin-top: $spacing_3_2;
          @media screen and (min-width: $screen_md) {
            margin-bottom: $spacing_3_2;
          }
        }
      }
    }
  }
}
