@import "@USupport-components-library/styles";

.register-anonymous {
  // 100vh - height of header - the padding-top
  @include full-height-page(calc($spacing_12_0));

  @media screen and (min-width: $screen_md) {
    @include full-height-page(calc($spacing_12_8));
  }

  & .container {
    height: 100%;
  }

  &__grid {
    min-height: 90vh;
    justify-items: center;
    text-align: left;
    align-items: flex-start;

    @media screen and (min-width: $screen_md) {
      align-items: center;
    }

    &__content-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;

      &__main-component {
        padding-top: $spacing_4_0;

        @media screen and (min-width: $screen_md) {
          padding-top: $spacing_5_0;
        }

        &__code-text {
          color: $color_blue_3d527b;
        }

        &__copy-container {
          display: flex;

          & .icon {
            margin-right: $spacing_2_4;
          }

          & p {
            max-width: 36.8rem;
          }
        }

        &__input {
          @media screen and (min-width: $screen_md) {
            margin-top: $spacing_6_4;
          }
          &-password {
            margin-top: $spacing_1_2;
          }
        }

        & > button:first-of-type {
          margin-top: $spacing_3_2;

          @media screen and (min-width: $screen_md) {
            margin-top: $spacing_8_0;
            margin-bottom: $spacing_3_2;
          }
        }
      }
    }

    &__login-button {
      margin: 0 auto;
      margin-top: $spacing_1_6;
      padding-right: $spacing_4_0;
    }
  }

  &__redirect-button {
    margin-bottom: $spacing_2_4;
  }

  & .error-message {
    margin-left: 0;
    margin-top: $spacing_1_6;
  }
}
