@import "@USupport-components-library/styles";

.login {
  height: 90vh;

  & .container {
    height: 100%;
  }

  &__grid {
    place-items: center;
    text-align: left;
    padding-top: $spacing_1_6;

    &__logo-item {
      text-align: center;
      margin-bottom: 1rem;
    }

    &__inputs-item {
      &__input--password {
        margin-top: $spacing_1_6;
      }

      & .login-button {
        margin-top: $spacing_2_4;
      }
    }

    &__forgot-password {
      margin-top: $spacing_0_8;
    }

    &__content-item {
      text-align: center;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 100%;
      justify-content: space-between;

      &__buttons-container {
        display: flex;
        flex-direction: row;
        margin-top: $spacing_1_6;
      }
    }
    &__register-button {
      margin: 0 auto;
      margin-top: $spacing_1_6;
    }
  }
}
