/* SelectProvider styles */
@import "@USupport-components-library/styles";

.page__select-provider {
  @include full-height-page-navbar;

  &__buttons {
    display: flex;
    padding-right: $spacing_1_2;
    padding-top: $spacing_2_0;
    width: 100%;

    & .btn:first-of-type {
      margin-inline: auto;
      @media screen and (min-width: $screen_md) {
        margin-right: $spacing_1_2;
      }
    }
  }

  .page__header-button-container {
    @media screen and (max-width: $screen_md) {
      justify-content: flex-start;
      margin-left: $spacing_1_2;
      margin-bottom: $spacing_1_8;
    }
  }

  &__coupon-modal-input {
    margin: $spacing_1_2 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__filters-block__coupon-note {
    // padding-top: $spacing_1_2;
    // padding-bottom: $spacing_1_2;
    text-align: left;
    width: 100%;

    & .btn {
      margin-bottom: $spacing_1_6;
      margin-inline: auto;
    }

    @media screen and (min-width: $screen-md) {
      padding-left: calc($spacing_7_0);
      padding-right: calc($spacing_2_6 + $spacing_8_0);
    }

    @media screen and (min-width: $screen-lg) {
      padding-left: calc($spacing_23_0 + $spacing_5_6);
      padding-right: calc($spacing_23_0 + $spacing_5_6);
    }
  }

  &__filters-block .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (min-width: $screen_md) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: $spacing_2_4;
    }

    & .input-container {
      width: 30rem;
      margin-bottom: $spacing_1_2;

      @media screen and (min-width: $screen_md) {
        width: 24rem;
        // margin-right: $spacing_1_2;
      }
    }

    & .toggle-wrapper {
      margin-bottom: $spacing_1_2;

      @media screen and (min-width: $screen_md) {
        margin: 0 $spacing_2_4;
        // margin-right: $spacing_1_2;
      }
    }
  }
}
