@import "@USupport-components-library/styles";

.baseline-assesment-modal {
  &__content {
    display: flex;
    flex-direction: column;
    
    p {
      font-size: 15px;
      display: block;
      margin-bottom: $spacing_1_6;
      width: 100%;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__privacy-content {
    margin-top: $spacing_2_0;

    &-heading {
      font-weight: $font_bold;
    }
    &-consent {
      font-size: 14px;
    }
    &-link {
      color: $color_primary_20809e;
      cursor: pointer;
    }

    & .toggle {
      margin-top: $spacing_1_0;
    }
  }
}
