/* BaselineAssesment styles */
@import "@USupport-components-library/styles";

.page__baseline-assesment {
  &__sessions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
