@import "@USupport-components-library/styles";

.activity-log-dashboard {
  padding-top: $spacing_4_8;
  padding-bottom: $spacing_6_4;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .view-all-button {
      color: $color_secondary_9749fa;
      cursor: pointer;
    }
  }

  &__activity-log-container {
    margin-top: $spacing_2_0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
