/* SharePlatform styles */
@import "@USupport-components-library/styles";

.page__share-platform {
  min-height: 60vh;

  @media screen and (max-width: $screen-md) {
    background-image: url(../assets/background-spiral.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
