/* ActivityHistory styles */
@import "@USupport-components-library/styles";
.page__activity-history {
  @include full-height-page-navbar;

  &__button-container {
    padding: $spacing_2_0 0;
    padding-bottom: calc(5vh);
    position: fixed;
    bottom: 0;
    background: $gradient_transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: $z_index_emergency_button;
  }

  &__radial-circle {
    top: 3.5rem;
    left: -15rem;
  }

  @media screen and (max-width: $screen-md) {
    background-image: url(../assets/background-spiral.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
