@import "@USupport-components-library/styles";

.page__activity-history {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
  overflow: hidden;

  &__radial-circle {
    top: 3.5rem;
    left: -15rem;
  }

  @media screen and (max-width: $screen-md) {
    background-image: url(../assets/background-spiral.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
