@import "@USupport-components-library/styles";

.save-access-code-confirmation {
  &__container {
    align-items: center;
    display: flex;

    & .icon {
      margin-right: $spacing_2_4;
    }

    & p {
      width: 90%;
    }
  }

  &__checkbox-container {
    display: flex;
    justify-content: center;
    margin-top: $spacing_2_4;

    & .checkbox-wrapper {
      margin-right: $spacing_0_8;
    }

    & p {
      cursor: pointer;
    }
  }
}
