@import "@USupport-components-library/styles";

.article-view {
  text-align: left;
  margin-top: $spacing_1_6;

  &__content {
    max-width: 80rem;
    margin: 0 auto;

    @media screen and (min-width: $screen-md) {
      padding: 0 $spacing_3_2;
    }

    @media screen and (min-width: $screen-lg) {
      padding: $spacing_1_6;
      border-radius: $border_radius_1_6;
      margin-top: $spacing_1_6;
      margin-bottom: $spacing_1_6;
      box-shadow: $shadow_1;

      @include themifyCustom(
        $themes,
        "background-color",
        "color_white_ff",
        "color_gray_101828"
      );
    }
  }

  &__title {
    margin-bottom: $spacing_1_6;
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing_0_8;
    margin-bottom: $spacing_1_2;
  }

  &__category-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    border-radius: $border_radius_2_5;
    padding: 0 $spacing_1_2;

    @include themifyCustom(
      $themes,
      "background-color",
      "color_blue_20809E_0_3",
      "color_gray_66768d",
      "color_blue_20809E_0_3"
    );

    .small-text {
      font-weight: $font_bold;
      white-space: nowrap;

      @include themifyCustom(
        $themes,
        "color",
        "color_blue_3d527b",
        "color_gray_c1d7e0"
      );
    }
  }

  &__creator {
    max-width: 60%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.text {
      color: #ba7446;
    }
  }

  &__meta-dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #ba7446;
  }

  &__meta {
    & .icon {
      margin: 0;
      flex-shrink: 0;
    }

    & .text {
      color: #ba7446;
    }
  }

  &__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing_0_5;
    margin-bottom: $spacing_1_6;
  }

  &__separator {
    width: 100%;
    height: 1px;

    @include themifyCustom(
      $themes,
      "background-color",
      "color_gray_ea",
      "color_gray_344054"
    );
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $spacing_0_8 0;
  }

  &__actions-left {
    display: flex;
    align-items: center;
  }

  &__actions-right {
    display: flex;
    align-items: center;
    gap: $spacing_0_8;
  }

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.15s ease;

    @include themifyCustom(
      $themes,
      "background-color",
      "color_transparent",
      "color_transparent"
    );

    &:hover {
      @include themifyCustom(
        $themes,
        "background-color",
        "color_gray_ea",
        "color_gray_344054"
      );
    }

    & .loading {
      padding: 0px 0px !important;
      width: 16px;
      height: 16px;
    }

    & .icon {
      margin: 0 !important;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: 46rem;
    border-radius: $border_radius_1_2;
    object-fit: cover;
    margin-top: $spacing_2_5;

    @media screen and (min-width: $screen-md) {
      max-height: 50rem;
    }
  }

  &__body {
    padding-top: $spacing_3_2;
    padding-bottom: $spacing_4_0;

    .text {
      line-height: $line_height_2_8;
    }
  }
}
