/* InformationPortal styles */
@import "@USupport-components-library/styles";

.page__information-portal {
  min-width: 40.7rem;
  .theme-dark &,
  .theme-highContrast & {
    background-color: #193246;
  }

  &__tabs-block {
    padding-top: $spacing_6_0;
    text-align: left;
  }

  &__tabs-container {
    margin-inline: auto;

    &__inner {
      display: flex;
    }
  }

  & .tabs-underlined-container {
    justify-content: center;
    max-width: unset;
  }
}
