@import "@USupport-components-library/styles";

.select-provider {
  @include full-height-page-navbar;

  &__grid {
    place-items: center;
    padding-top: $spacing_3_0;
    padding-bottom: $spacing_4_0;
    gap: $spacing_2_0;

    &__item-no-match {
      padding-top: $spacing_2_4;
    }

    @media screen and (min-width: $screen_md) {
      &__provider {
        justify-self: start;
      }

      &__provider:nth-child(odd) {
        justify-self: end;
      }
    }
  }
}
