@import "@USupport-components-library/styles";

.select-provider {
  @include full-height-page-navbar;

  &__grid {
    place-items: center;
    padding-top: $spacing_3_0;
    padding-bottom: $spacing_4_0;
    gap: $spacing_2_0;

    &__item-no-match {
      padding-top: $spacing_2_4;
    }

    &__provider {
      width: 100%;
      height: 100%;
    }
  }
}
