@import "@USupport-components-library/styles";

.login-modal {
  &__content-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing_2_0;

    &__forgot-password {
      margin-left: 0;
      margin-right: auto;
      padding-left: 0;
      padding-top: 0;

      & .btn__content-container {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    &__submit-button {
      display: none;
    }
  }
}
