/* MoodTrackHistory styles */
@import "@USupport-components-library/styles";

.page__mood-track-history {
  @include full-height-page-navbar;

  & .give-suggestion__grid {
    & .give-suggestion__heading-item {
      place-self: center;
    }
  }

  &__heading-button-container {
    display: flex;
    flex-direction: column;
    gap: $spacing_0_8;
  }
}
