@import "@USupport-components-library/styles";

.safety-feedback {
  height: 100vh;
  overflow: scroll;

  &--dark {
    background-color: $color_black_37;
  }

  &__grid {
    text-align: left;
    place-items: center;
    padding-top: $spacing_2_4;
    gap: $spacing_2_8;

    @media screen and (min-width: $screen_md) {
      padding-top: $spacing_4_8;
    }

    &__headings-item {
      width: 100%;
      max-width: 46rem;
      margin-bottom: $spacing_3_2;

      & h4 {
        font-weight: $font_medium;
        @media screen and (min-width: $screen_md) {
          margin-bottom: $spacing_2_4;
        }
      }

      & .text {
        color: #6989a4;
        font-weight: $font_medium;
      }
    }

    &__warning-container {
      align-items: center;
      display: flex;
      max-width: 55rem;
      margin-bottom: $spacing_3_2;

      & .icon {
        margin-right: $spacing_2_4;
      }

      & p {
        width: 80%;
      }
    }

    &__continue-button {
      width: 100%;
      max-width: 46rem;
    }

    &__button {
      margin-top: $spacing_2_4;
      width: 100%;
      max-width: 46rem;
    }
  }

  &__question {
    &__text {
      font-weight: $font_semi_bold;
    }

    &__answers {
      display: flex;
      gap: $spacing_1_6;
      padding-top: $spacing_1_2;

      // & .radio-button-selector {
      //   margin-top: $spacing_0_8;
      //   width: 40%;
      // }

      &__emoticon-container {
        margin-top: $spacing_0_8;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .small-text {
          text-align: center;
        }
      }
    }

    &__slider {
      padding-top: $spacing_1_0;
    }
  }

  &__question-item {
    width: 100%;
    max-width: 46rem;
  }
}
