@import "@USupport-components-library/styles";

.notification-preferences {
  @include full-height-page-navbar;

  &__content-wrapper {
    position: relative;

    &__right {
      display: none;
      @media screen and (min-width: $screen-lg) {
        display: block;
        position: absolute;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  &__grid {
    place-items: start;
    padding-bottom: $spacing_10_0;
    padding-top: $spacing_2_0;
    gap: $spacing_1_8;

    @media screen and (min-width: $screen_md) {
      place-items: center;
      padding-top: $spacing_5_0;
    }

    @media screen and (min-width: $screen_lg) {
      max-width: 58.4rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > .paragraph {
        color: $color_blue_3d527b;
        @include themify($themes, "color", "color_3d527b_white");
        padding-bottom: $spacing_1_6;
      }

      &__dropdown {
        margin-top: $spacing_2_4;
      }
    }

    & .radio-button-selector-group {
      padding-top: $spacing_2_4;
    }

    & .error-message {
      margin: 0 auto;
      text-align: center;
      margin-top: $spacing_1_2;
    }
  }
}
