@import "@USupport-components-library/styles";

.register-about-you-modal {
  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing_2_4;
    width: 100%;
    padding-bottom: $spacing_1_6;

    &__inputs-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $spacing_2_4;

      &__sex-dropdown {
        z-index: 3;
      }

      &__year-dropdown {
        z-index: 2;
      }
    }
  }
}
