@import "@USupport-components-library/styles";

#root {
  margin: 0 auto;
  text-align: center;
}

.test-to-redeploy{
  color: red;
}

.backdrop__buttons-container {
  border-top: 0.1rem solid $color_gray_ea;
}