/* ProviderOverview styles */
@import "@USupport-components-library/styles";

.page__provider-overview {
  @include full-height-page-navbar;

  &__radial-circle {
    top: 3.5rem;
    left: -15rem;
    height: 50rem;
  }

  &__button-container {
    padding: $spacing_2_0 0;
    // 5vh -> emergency button bottom padding, 4.8rem -> emergency button height
    padding-bottom: calc(5vh + 4.8rem + 1rem);
    position: fixed;
    bottom: 0;
    background: $gradient_transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: calc($z_index_emergency_button - 1);
  }
}
