@import "@USupport-components-library/styles";

.mood-tracker {
  padding-top: $spacing_4_8;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > h4 {
      text-align: left;
    }
  }

  &__additional-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacing_1_8 0;

    &__toggle-container {
      display: flex;
      flex-direction: row;
      gap: $spacing_1_6;
      padding-top: $spacing_1_6;
      align-items: center;

      &__text {
        text-align: left;
      }
    }

    &__button-container {
      margin-top: $spacing_1_6;
    }
  }

  & .mood-tracker-button {
    color: $color_secondary_9749fa;
    cursor: pointer;
    padding: $spacing_1_6 0;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 35rem;
    margin: 0 auto;
    margin-top: $spacing_2_4;
    width: 100%;
    max-width: 42rem;

    @media screen and (min-width: $screen_md) {
      max-width: 48rem;
    }

    &__emoticon-container {
      width: 6rem;
      height: 9rem;
      cursor: pointer;

      @media screen and (min-width: $screen_md) {
        width: 10rem;
      }

      &--not-selected {
        opacity: 0.5;
      }

      & p {
        text-align: center;
        word-break: break-word;
      }

      &__text--selected {
        &.small-text {
          color: $color_black_37;
        }
      }
    }
  }
}
