@import "@USupport-components-library/styles";

.mood-tracker {
  padding-top: $spacing_4_8;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > h4 {
      text-align: left;
    }
  }

  &__additional-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacing_1_8 0;

    &__button-container {
      margin-top: $spacing_1_6;
    }
  }

  & .mood-tracker-button {
    color: $color_secondary_9749fa;
    cursor: pointer;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 35rem;
    margin: 0 auto;
    margin-top: $spacing_2_4;
    width: 100%;
    max-width: 42rem;
    background-color: gold;

    &__emoticon-container {
      width: 6rem;
      height: 9rem;
    }

    & .not-selected {
      opacity: 0.5;
    }

    & .selected {
      color: $color_black_37;
    }
  }
}
