@import "@USupport-components-library/styles";

.mood-tracker {
  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > h4 {
      text-align: left;
    }
  }

  &__additional-comment {
    display: flex;
    flex-direction: column;
    margin: $spacing_1_8 0;

    &__toggle-container {
      display: flex;
      flex-direction: row;
      gap: $spacing_1_6;
      padding-top: $spacing_1_6;
      align-items: center;

      &__text {
        text-align: left;
      }
    }

    &__button-container {
      margin-top: $spacing_1_6;
    }
  }

  & .mood-tracker-button {
    @include themify($themes, "color", "color_6a4ffb_8c90eb");
    cursor: pointer;
    padding: $spacing_1_6 0;
  }

  & h5.mood-tracker-button {
    font-weight: 500;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 35rem;
    margin-top: $spacing_1_2;

    @media screen and (min-width: $screen_md) {
      max-width: 60rem;
    }

    &__emoticon-container {
      width: 100%;
      height: 9rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media screen and (min-width: $screen_md) {
        width: 12rem;
      }

      &--not-selected {
        opacity: 0.5;
      }

      & .emoticon {
        display: inline-block;
        line-height: 1;
        user-select: none;
      }

      & p {
        text-align: center;
        word-break: break-word;
      }

      &__text--selected {
        &.small-text {
          color: $color_black_37;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__how-it-works-btn {
    margin-bottom: auto;
    margin-left: $spacing_1_6;
  }
}
